
–ü—Ä–∏–≤–µ—Ç, –º–µ–Ω—è –∑–æ–≤—É—Ç –ì–æ–ª–æ–≤–∞—Ç—Å–∫–∏–π –ù–∏–∫–æ–ª–∞–π, —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç.

–í –ü—Ä–∞–∫—Ç–∏–∫—É–º–µ –ø—Ä–∏–Ω—è—Ç–æ –æ–±—â–∞—Ç—å—Å—è –Ω–∞ "—Ç—ã", –æ–¥–Ω–∞–∫–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ—É–¥–æ–±–Ω–æ - –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º–æ–∂–µ–º –ø–µ—Ä–µ–π—Ç–∏ –Ω–∞ –±–æ–ª–µ–µ –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω–æ–µ –æ–±—â–µ–Ω–∏–µ.

–ù–∏–∂–µ —Ç—ã –Ω–∞–π–¥–µ—à—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ - **–ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –∏—Ö,** —ç—Ç–æ –º–æ–∂–µ—Ç —É—Å–ª–æ–∂–Ω–∏—Ç—å –∏ –∑–∞—Ç—è–Ω—É—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É. 

–Ø –±—É–¥—É –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ü–≤–µ—Ç–æ–≤—É—é —Ä–∞–∑–º–µ—Ç–∫—É: 

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> –ï—Å–ª–∏ –≤—Å–µ —Å–¥–µ–ª–∞–Ω–æ —Ö–æ—Ä–æ—à–æ.</div>

<div class="alert alert-block alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚ö†Ô∏è:</b> –ù–µ–∫—Ä–∏—Ç–∏—á–Ω–æ–µ –∑–∞–º–µ—á–∞–Ω–∏–µ, —Ä–µ–∫–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è –Ω–∞ –±—É–¥—É—â–µ–µ. –î–ª—è –ø—Ä–∏–Ω—è—Ç–∏—è –ø—Ä–æ–µ–∫—Ç–∞ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–µ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ.</div>

<div class="alert alert-block alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚ùå:</b> –ö—Ä–∏—Ç–∏—á–Ω–∞—è –æ—à–∏–±–∫–∞, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å, –∏–Ω–∞—á–µ –ø—Ä–æ–µ–∫—Ç –Ω–µ –±—É–¥–µ—Ç –ø—Ä–∏–Ω—è—Ç.
</div>

–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –∏–ª–∏ –æ—Ç–≤–µ—á–∞–µ—à—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω–∞—Ç—Ä–∏ ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º. –ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:
–ù–∞–ø—Ä–∏–º–µ—Ä —Ç–∞–∫:
<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
Hello World!
</div>

–ï—Å–ª–∏ –ø–∏—Å–∞—Ç—å –æ—Å–æ–±–æ –Ω–µ—á–µ–≥–æ, –ø—Ä–æ—Å—Ç–æ –æ—Å—Ç–∞–≤–ª—è–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å –≥–∞–ª–æ—á–∫–æ–π 

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
‚òëÔ∏è
</div>

<div class="alert alert-block alert-success">
<b>–û–±—â–µ–µ –≤–ø–µ—á–∞—Ç–ª–µ–Ω–∏–µ:</b> 
    
- –°–ø–∞—Å–∏–±–æ –∑–∞ —Ä–∞–±–æ—Ç—É :)
- –û–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ –º–æ–≥—É —Å–∫–∞–∑–∞—Ç—å, —á—Ç–æ –ø—Ä–æ–µ–∫—Ç –æ—á–µ–Ω—å —Å–∏–ª—å–Ω—ã–π;
- –ú–Ω–µ –æ—á–µ–Ω—å –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å, –∫–∞–∫ —Ç—ã –¥–µ—Ç–∞–ª—å–Ω–æ –ø–æ–≥—Ä—É–∂–∞–µ—à—å—Å—è –≤ –¥–∞–Ω–Ω—ã–µ –∏ –Ω–µ —É–ø—É—Å–∫–∞–µ—à—å –Ω–∏–∫–∞–∫–∏—Ö –º–µ–ª–æ—á–µ–π;
- –í –ø—Ä–æ–µ–∫—Ç–µ –æ—Å—Ç–∞–ª–æ—Å—å –ø–∞—Ä–∞ –º–æ–º–µ–Ω—Ç–æ–≤, –ø–æ—Å–ª–µ –ø—Ä–∞–≤–∫–∏ –∫–æ—Ç–æ—Ä—ã—Ö, —è —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å —Ä–∞–±–æ—Ç—Éüòâ
    
</div>

–ò–∑–º–µ–Ω–µ–Ω–∏–µ

–ò–∑–º–µ–Ω–µ–Ω–∏–µ

# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –Ω–∞–¥–µ–∂–Ω–æ—Å—Ç–∏ –∑–∞–µ–º—â–∏–∫–æ–≤.

**–ó–∞–∫–∞–∑—á–∏–∫ ‚Äî –∫—Ä–µ–¥–∏—Ç–Ω—ã–π –æ—Ç–¥–µ–ª –±–∞–Ω–∫–∞. –ù—É–∂–Ω–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è, –≤–ª–∏—è–µ—Ç –ª–∏ —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –∫–ª–∏–µ–Ω—Ç–∞ –Ω–∞ —Ñ–∞–∫—Ç –ø–æ–≥–∞—à–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –í—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç –±–∞–Ω–∫–∞ ‚Äî —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –ø—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –º–æ–¥–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞ ‚Äî —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã, –∫–æ—Ç–æ—Ä–∞—è –æ—Ü–µ–Ω–∏–≤–∞–µ—Ç —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–≥–æ –∑–∞—ë–º—â–∏–∫–∞ –≤–µ—Ä–Ω—É—Ç—å –∫—Ä–µ–¥–∏—Ç –±–∞–Ω–∫—É.**

**–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è** ‚Äî –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã:

**1. –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?**
**2. –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?**
**3. –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?**
**4. –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?**

**–•–æ–¥ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è**

**–î–∞–Ω–Ω—ã–µ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ –º—ã –ø–æ–ª—É—á–∏–ª–∏ –∏–∑ —Ñ–∞–π–ª–∞ /datasets/data.csv. –û –∫–∞—á–µ—Å—Ç–≤–µ –¥–∞–Ω–Ω—ã—Ö –Ω–∏—á–µ–≥–æ –Ω–µ –∏–∑–≤–µ—Å—Ç–Ω–æ. –ü–æ—ç—Ç–æ–º—É –ø–µ—Ä–µ–¥ –æ—Ç–≤–µ—Ç–æ–º –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è –æ–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö.**

**–ü—Ä–æ–≤–µ—Ä–∏–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—à–∏–±–∫–∏ –∏ –æ—Ü–µ–Ω–∏–º –∏—Ö –≤–ª–∏—è–Ω–∏–µ –Ω–∞ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ. –ù–∞ —ç—Ç–∞–ø–µ –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö –∏—Å–ø—Ä–∞–≤–∏–º —Å–∞–º—ã–µ –∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏ –¥–∞–Ω–Ω—ã—Ö.**

**–¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –ø—Ä–æ–π–¥—ë—Ç –≤ —Ç—Ä–∏ —ç—Ç–∞–ø–∞:**
**1. –û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö.**
**2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö.**
**3. –û—Ç–≤–µ—Ç—ã –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã.**

### –®–∞–≥ 1. –û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö

In [1]:
import pandas as pd # –∏–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ pandas

–ü—Ä–æ–≤–µ—Ä–∏–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ—à–∏–±–∫–∏ –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏–µ–π `try-except`:

In [2]:
try:
    df = pd.read_csv('/datasets/data.csv') # —á—Ç–µ–Ω–∏–µ —Ñ–∞–π–ª–∞ —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –≤ df
except:
    df = pd.read_csv('/datasets/data.csv')

In [3]:
df.head(10) # –ø–æ–ª—É—á–µ–Ω–∏–µ –ø–µ—Ä–≤—ã—Ö 10 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,-926.185831,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763.565419,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,-2879.202052,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525.971920,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,-152.779569,50,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823.934197,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,-6929.865299,35,–í–´–°–®–ï–ï,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856.832424,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,-2188.756445,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425.938277,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏

–í —Å—Ç–æ–ª–±—Ü–µ `days_employed` –µ—Å—Ç—å –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ.

In [4]:
df.info()# –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—â–µ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –¥–∞–Ω–Ω—ã—Ö –≤ —Ç–∞–±–ª–∏—Ü–µ df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

–í —Ç–∞–±–ª–∏—Ü–µ –¥–≤–µ–Ω–∞–¥—Ü–∞—Ç—å —Å—Ç–æ–ª–±—Ü–æ–≤. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö ‚Äî `object`, `int64`, `float64`, —á—Ç–æ —Å–æ–æ—Ç–≤–µ—Ç—Å–≤—É–µ—Ç –¥–∞–Ω–Ω—ã–º –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞.
–î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è, –∏–∑–º–µ–Ω–∏–º —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–æ–ª–±—Ü–µ `total_income` —Å `float64` –Ω–∞ `int64`.

–°–æ–≥–ª–∞—Å–Ω–æ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏ –∫ –¥–∞–Ω–Ω—ã–º:

* `children` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –≤ —Å–µ–º—å–µ
* `days_employed` ‚Äî –æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö
* `dob_years` ‚Äî –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–∞ –≤ –≥–æ–¥–∞—Ö
* `education` ‚Äî —É—Ä–æ–≤–µ–Ω—å –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–∞
* `education_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —É—Ä–æ–≤–Ω—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
* `family_status` ‚Äî —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ
* `family_status_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è
* `gender` ‚Äî –ø–æ–ª –∫–ª–∏–µ–Ω—Ç–∞
* `income_type` ‚Äî —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
* `debt` ‚Äî –∏–º–µ–ª –ª–∏ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å –ø–æ –≤–æ–∑–≤—Ä–∞—Ç—É –∫—Ä–µ–¥–∏—Ç–æ–≤
* `total_income` ‚Äî –µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥
* `purpose` ‚Äî —Ü–µ–ª—å –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö —Ä–∞–∑–ª–∏—á–∞–µ—Ç—Å—è. –ó–Ω–∞—á–∏—Ç, –≤ –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è.

**–í—ã–≤–æ–¥—ã**

–í –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ —Ç–∞–±–ª–∏—Ü—ã ‚Äî –¥–∞–Ω–Ω—ã–µ –æ –∫–ª–∏–µ–Ω—Ç–∞—Ö. –ß–∞—Å—Ç—å –∫–æ–ª–æ–Ω–æ–∫ –æ–ø–∏—Å—ã–≤–∞–µ—Ç –ª–∏—á–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –∫–ª–∏–µ–Ω—Ç–∞—Ö: –¥–µ—Ç–∏, —Å—Ç–∞–∂, –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ, —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ, –ø–æ–ª, —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏. –î—Ä—É–≥–∞—è —á–∞—Å—Ç—å –æ–ø–∏—Å—ã–≤–∞–µ—Ç —Ñ–∏–Ω–∞–Ω—Å–æ–≤—É—é —Å–æ—Å—Ç–∞–≤–ª—è—é—â—É—é: –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å –ø–æ –∫—Ä–µ–¥–∏—Ç–∞–º, –¥–æ—Ö–æ–¥, —Ü–µ–ª—å –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞. 

–î–∞–Ω–Ω—ã—Ö –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –¥–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –≤–æ–ø—Ä–æ—Å—ã. –ù–æ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö.

–ò–∑–º–µ–Ω–∏–º —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö. –û–±—Ä–∞–±–æ—Ç–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –∞–Ω–æ–º–∞–ª–∏—è–º–∏. –£—Å—Ç—Ä–∞–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –¥–∞–Ω—ã—Ö.

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> –•–æ—Ä–æ—à–µ–µ –Ω–∞—á–∞–ª–æ, –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞–Ω–Ω—ã—Ö –∏–∑—É—á–µ–Ω–∞üëç</div>

## –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

* –û–±—Ä–∞–±–æ—Ç–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –∞–Ω–æ–º–∞–ª–∏—è–º–∏.
* –ò—Å–∫–ª—é—á–∏–º –ø—Ä–æ–ø—É—Å–∫–∏. 
* –ò–∑–º–µ–Ω–∏–º —Ç–∏–ø –¥–∞–Ω—ã—Ö.
* –ü—Ä–æ–≤–µ—Ä–∏–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –¥—É–±–ª–∏–∫–∞—Ç—ã.

### –®–∞–≥ 2.1 –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤

–ü–æ—Å—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –≤ —Ç–∞–±–ª–∏—Ü–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π. –î–ª—è —ç—Ç–æ–≥–æ –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥—ã `pandas`: `isna()`, `sum()`

In [5]:
df.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

–ú—ã –æ–±–Ω–∞—Ä—É–∂–∏–ª–∏ –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö: `days_employed` –∏ `total_income`. 
–ü—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –¥–≤—É—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö –æ–¥–∏–Ω–∞–∫–æ–≤–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ. –ü–æ—Å—á–∏—Ç–∞–µ–º –¥–æ–ª—é –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –æ–±—â–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ —Å—Ç—Ä–æ–∫: (2174 / 21525)* 100%, –ø–æ–ª—É—á–∏–º 10,1 %. –î–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –≤—ã—Å–æ–∫–∏–π –ø—Ä–æ—Ü–µ–Ω—Ç. –î–ª—è –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫ –ø–æ–ø—ã—Ç–∞–µ–º—Å—è –ø–æ–Ω—è—Ç—å –µ—Å—Ç—å –ª–∏ –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –º–µ–∂–¥—É –ø—Ä–æ–ø—É—Å–∫–∞–º–∏.

In [6]:
df[df['days_employed'].isna()].head(10) # –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ isna()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,NaN,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
26,0,NaN,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,NaN,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
29,0,NaN,63,—Å—Ä–µ–¥–Ω–µ–µ,1,–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º,4,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,NaN,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
41,0,NaN,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,NaN,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
55,0,NaN,54,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,1,NaN,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
65,0,NaN,21,—Å—Ä–µ–¥–Ω–µ–µ,1,–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º,4,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,NaN,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
67,0,NaN,52,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,NaN,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏
72,1,NaN,32,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,NaN,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
82,2,NaN,50,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,NaN,–∂–∏–ª—å–µ
83,0,NaN,52,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,NaN,–∂–∏–ª—å–µ

**–í—ã–≤–æ–¥**
–°—Ç–æ–ª–±—Ü—ã: `days_employed` –∏ `total_income` –∏–º–µ—é—Ç –æ–¥–∏–Ω–æ–∫–æ–≤—ã–µ –ø—Ä–æ–ø—É—Å–∫–∏, –Ω–æ –æ–Ω–∏ –Ω–µ —Å–≤—è–∑–∞–Ω—ã —Å –¥—Ä—É–≥–∏–º–∏ –¥–∞–Ω–Ω—ã–º–∏ (–≤–æ–∑—Ä–∞—Å—Ç, –ø–æ–ª, —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ, –ø—Ä–æ—Ñ–µ—Å—Å–∏—è –∏ —Ç–¥.).
–í–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –º–µ–∂–¥—É –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ –∏ –∫–∞–∫–æ–π-–ª–∏–±–æ –¥—Ä—É–≥–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –Ω–µ—Ç.
–ú–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ –¥–∞–Ω–Ω—ã—Ö –æ —Ç—Ä—É–¥–æ–≤–æ–º —Å—Ç–∞–∂–µ –∏ –¥–æ—Ö–æ–¥–µ –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∞–Ω—ã —Ç–æ–ª—å–∫–æ –º–µ–∂–¥—É —Å–æ–±–æ–π. –¢–∞–∫ –∫–∞–∫ —ç—Ç–∏ –¥–∞–Ω–Ω—ã–µ –≤–∞–∂–Ω—ã –¥–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è, –±—É–¥–µ–º –∏—Å–∫–∞—Ç—å —Å–ø–æ—Å–æ–±—ã –∑–∞–ø–æ–ª–Ω–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –ø—Ä–æ–ø—É—Å–∫–∏.

–î–∞–Ω–Ω—ã–µ –ø—Ä–æ–ø—É—Å–∫–∏ –æ—Ç–Ω–æ—Å—è—Ç—Å—è –∫ –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ–Ω–Ω—ã–º –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–º, –∫ –Ω–∏–º –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥—ã —Å—Ä–µ–¥–Ω–µ–µ –∞—Ä–∏—Ñ–º–µ—Ç–∏—á–µ—Å–∫–æ–µ `mean()` –∏–ª–∏ –º–µ–¥–∏–∞–Ω–∞ `median()`.
–í —Å–ª—É—á–∞–µ –µ–∂–µ–º–µ—Å—è—á–Ω–æ–≥–æ –¥–æ—Ö–æ–¥–∞ –∏ –æ–±—â–µ–≥–æ —Å—Ç–∞–∂–∞ –ª—É—á—à–µ –ø—Ä–∏–º–µ–Ω–∏—Ç—å –º–µ—Ç–æ–¥ `median()`. –û–Ω –ø–æ–∫–∞–∂–µ—Ç –±–æ–ª–µ–µ —Ç–æ—á–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ, —á–µ–º –º–µ—Ç–æ–¥ `mean()`, —Ç–∞–∫ –∫–∞–∫ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏–∑—É–µ—Ç –¥–∞–Ω–Ω—ã–µ, –∫–æ–≥–¥–∞ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å–∏–ª—å–Ω–æ –≤—ã–¥–µ–ª—è—é—Ç—Å—è —Å—Ä–µ–¥–∏ –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–∞. –î–ª—è —Å—Ç–æ–ª–±—Ü–∞ `total_income` –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `groupby` –≤ –∫–æ–Ω–±–∏–Ω–∞—Ü–∏–∏ —Å —Ñ—É–Ω–∫—Ü–∏–µ–π `transform`, –∫–æ—Ç–æ—Ä–∞—è –ø–æ–º–æ–∂–µ—Ç –∑–∞–ø–æ–ª–Ω–∏—Ç—å –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –≤ —Ä–∞–∑—Ä–µ–∑–µ `income_type`.

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
–ü—Ä–∏–≤–µ—Ç, –ù–∏–∫–æ–ª–∞–π! –ù–∞—à–ª–∞ –º–µ—Ç–æ–¥ transform –∏ —Ä–µ—à–∏–ª–∞ –ø—Ä–∏–º–µ–Ω–∏—Ç—å –µ–≥–æ –≤ –ø—Ä–æ–µ–∫—Ç–µ. –°–ø–∞—Å–∏–±–æ –∑–∞ –∏–¥–µ—é –∏ –º–æ–∏ –Ω–æ–≤—ã–µ –∑–Ω–∞–Ω–∏—è)
</div>

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v2‚úÖ:</b> üëç </div>

In [7]:
median_table = df.groupby('income_type')['total_income'].transform('median') # –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ median() —Å —Ñ—É–Ω–∫—Ü–∏–µ–π transform() 
df['total_income'] = df['total_income'].fillna(median_table) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞
display(df.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,-926.185831,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763.565419,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,-2879.202052,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525.971920,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,-152.779569,50,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823.934197,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,-6929.865299,35,–í–´–°–®–ï–ï,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856.832424,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,-2188.756445,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425.938277,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏

–í —Å—Ç–æ–ª–±—Ü–µ `days_employed` –æ–±–Ω–∞—Ä—É–∂–∏–ª–∏ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è. –í –¥–∞–Ω–Ω–æ–º —Å—Ç–æ–ª–±—Ü–µ —Ö—Ä–∞–Ω–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± –æ–±—â–µ–º —Ç—Ä—É–¥–æ–≤–æ–º —Å—Ç–∞–∂–µ –≤ –¥–Ω—è—Ö. –î–∞–Ω–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –Ω–µ –º–æ–∂–µ—Ç –±—ã—Ç—å –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–π. –°–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –ø—Ä–∏ –≤—ã–≥—Ä—É–∑–∫–µ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–∏–∑–æ—à–ª–∞ —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∞—è –æ—à–∏–±–∫–∞. –ò—Å–ø—Ä–∞–≤–∏–º –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω—ã–µ. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `abs`.

In [8]:
df['days_employed'] = df['days_employed'].abs()
display(df.head(10)) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,926.185831,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763.565419,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,2879.202052,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525.971920,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,152.779569,50,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823.934197,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,6929.865299,35,–í–´–°–®–ï–ï,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856.832424,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,2188.756445,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425.938277,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏

In [9]:
median_days_employed = df['days_employed'].median() # –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ median() 
display(median_days_employed) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

2194.220566878695

–ó–∞–º–µ–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ `days_employed`.

In [10]:
df['days_employed'] = df['days_employed'].fillna(value=median_days_employed) # –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ fillna()
display(df['days_employed'].head(10)) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

0      8437.673028
1      4024.803754
2      5623.422610
3      4124.747207
4    340266.072047
5       926.185831
6      2879.202052
7       152.779569
8      6929.865299
9      2188.756445
Name: days_employed, dtype: float64

<div class="alert alert-block alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚ö†Ô∏è:</b> 
–ï—Å—Ç—å –µ—â–µ –æ–¥–∏–Ω, –±–æ–ª–µ–µ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã–π —Å–ø–æ—Å–æ–± –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤. –ù–∞–ø—Ä–∏–º–µ—Ä, –¥–æ—Ö–æ–¥ –∫–ª–∏–µ–Ω—Ç–∞ (total_income) –º–æ–∂–Ω–æ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –≤ —Ä–∞–∑—Ä–µ–∑–µ income_type - –¥–ª—è –∫–∞–∂–¥–æ–≥–æ income_type –ø–æ—Å—á–∏—Ç–∞—Ç—å –º–µ–¥–∏–∞–Ω–Ω—ã–π total_income –∏ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –∏–º–∏. –¢–∞–∫ –º—ã –Ω–µ —É—Å—Ä–µ–¥–Ω–∏–º –¥–∞–Ω–Ω—ã–µ –∏ –º–µ–Ω—å—à–µ –ø–æ–≤–ª–∏—è–µ–º –Ω–∞ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ)

### –®–∞–≥ 2.2 –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –∞–Ω–æ–º–∞–ª–∏–∏ –∏ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è.

–ü—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±—Ü—ã: `children`, `dob_years`, `education_id`, `family_status_id`, `gender`, `debt` –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –∞–Ω–æ–º–∞–ª–∏–π.

–ü—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±–µ—Ü `children`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [11]:
df['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

–í –¥–∞–Ω–Ω–æ–º —Å—Ç–æ–ª–±—Ü–µ –≤–∏–¥–∏–º —Å–ª–µ–¥—É—é—â–∏–µ –∞–Ω–æ–º–∞–ª–∏–∏: –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π 20 —É 76 –∫–ª–∏–µ–Ω—Ç–æ–≤. –°–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ —ç—Ç–æ –æ—à–∏–±–∫–∞ –≤—ã–∑–≤–∞–Ω–∞ —á–µ–ª–æ–≤–µ—á–µ—Å–∫–∏–º —Ñ–∞–∫—Ç–æ—Ä–æ–º, —Ç.–µ. –ø—Ä–∏ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–∏ –¥–∞–Ω–Ω—ã—Ö, –ø—Ä–æ–∏–∑–æ—à–ª–∞ –æ—à–∏–±–∫–∞. –î–æ–ø—É—Å—Ç–∏–º, —á—Ç–æ –¥–µ—Ç–µ–π –Ω–µ 20, –∞ 2.
–ü—Ä–æ–∏–∑–≤–µ–¥–µ–º —Å–ª–µ–¥—É—é—â–∏–µ –¥–µ–π—Å—Ç–≤–∏—è:
1. –ó–∞–º–µ–Ω–∏–º -1 –Ω–∞ 1;
2. –ò—Å–ø—Ä–∞–≤–∏–º 20 –Ω–∞ 2;
3. –ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç.

–î–ª—è —ç—Ç–æ–≥–æ –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è –º–µ—Ç–æ–¥–æ–º `loc`.

In [12]:
df.loc[df['children']==-1, 'children']=1
df.loc[df['children']==20, 'children']=2
df['children'].value_counts()

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> –°–æ–≥–ª–∞—Å–µ–Ωüòâ</div>

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±–µ—Ü `dob_years`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [13]:
df['dob_years'].value_counts()

35    617
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
43    513
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
0     101
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

–í—ã—è–≤–∏–ª–∏ 0 –≤ 101 —Å–ª—É—á–∞–∏. –°–ª–æ–∂–Ω–æ –ø–æ–Ω—è—Ç—å –∫–∞–∫–∞—è –±—ã–ª–∞ –æ—à–∏–±–∫–∞, –ø–æ—ç—Ç–æ–º—É –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è –º–µ—Ç–æ–¥–æ–º `median()`. –û–Ω –ø–æ–∫–∞–∂–µ—Ç –±–æ–ª–µ–µ —Ç–æ—á–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ, —á–µ–º –º–µ—Ç–æ–¥ `mean()`, —Ç–∞–∫ –∫–∞–∫ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏–∑—É–µ—Ç –¥–∞–Ω–Ω—ã–µ, –∫–æ–≥–¥–∞ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å–∏–ª—å–Ω–æ –≤—ã–¥–µ–ª—è—é—Ç—Å—è —Å—Ä–µ–¥–∏ –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–∞.

In [14]:
median_dob_years = df['dob_years'].median() # –Ω–∞—Ö–æ–¥–∏–º –º–µ–¥–∏–∞–Ω—É

In [15]:
df.loc[df['dob_years']==0, 'dob_years'] = median_dob_years # –º–µ—Ç–æ–¥–æ–º Loc –º–µ–Ω—è–µ–º 0 –Ω–∞ –ø–æ–ª—É—á–µ–Ω–Ω—É—é –º–µ–¥–∏–∞–Ω—É
df['dob_years'].value_counts() # –ø—Ä–æ–≤–µ—Ä—è–µ–º –¥–∞–Ω–Ω—ã–µ

42.0    698
35.0    617
40.0    609
41.0    607
34.0    603
38.0    598
33.0    581
39.0    573
31.0    560
36.0    555
44.0    547
29.0    545
30.0    540
48.0    538
37.0    537
50.0    514
43.0    513
32.0    510
49.0    508
28.0    503
45.0    497
27.0    493
56.0    487
52.0    484
47.0    480
54.0    479
46.0    475
58.0    461
57.0    460
53.0    459
51.0    448
59.0    444
55.0    443
26.0    408
60.0    377
25.0    357
61.0    355
62.0    352
63.0    269
64.0    265
24.0    264
23.0    254
65.0    194
66.0    183
22.0    183
67.0    167
21.0    111
68.0     99
69.0     85
70.0     65
71.0     58
20.0     51
72.0     33
19.0     14
73.0      8
74.0      6
75.0      1
Name: dob_years, dtype: int64

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> –õ–æ–≥–∏—á–Ω–æüòâ</div>

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±–µ—Ü `education_id`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [16]:
df['education_id'].value_counts()

1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±–µ—Ü `family_status_id`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [17]:
df['family_status_id'].value_counts()

0    12380
1     4177
4     2813
3     1195
2      960
Name: family_status_id, dtype: int64

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±–µ—Ü `gender`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [18]:
df['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

–û–±–Ω–∞—Ä—É–∂–∏–ª–∏ XNA. –¢–∞–∫ –∫–∞–∫ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–∞–∫–∏—Ö –∞–Ω–æ–º–∞–ª–∏–π —Å–æ—Å—Ç–∞–≤–ª–µ—è–µ—Ç –µ–¥–∏–Ω–∏—Ü—É, –Ω–∞ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —ç—Ç–æ –Ω–µ –ø–æ–≤–ª–∏—è–µ—Ç. –£–¥–∞–ª–∏–º –¥–∞–Ω–Ω—É—é –∞–Ω–æ–º–∞–ª–∏—é.

In [19]:
df = df.loc[df['gender'] != 'XNA'] # –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ Loc 
df['gender'].value_counts() # –ø—Ä–æ–≤–µ—Ä—è–µ–º –¥–∞–Ω–Ω—ã–µ

F    14236
M     7288
Name: gender, dtype: int64

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> –ê—Ä–≥—É–º–µ–Ω—Ç–∏—Ä–æ–≤–∞–Ω–æüëç</div>

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±–µ—Ü `debt`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [20]:
df['debt'].value_counts()

0    19783
1     1741
Name: debt, dtype: int64

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> –ú–æ–ª–æ–¥–µ—Ü, –≤—Å–µ –∞–Ω–æ–º–∞–ª–∏–∏ –∏–∑—É—á–µ–Ω—ã –∏ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω—ã –≤–µ—Ä–Ω–æ. –î–≤–∏–≥–∞–µ–º—Å—è –¥–∞–ª—å—à–µüî•</div>

### –®–∞–≥ 2.3. –ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö.

–í–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è –º–µ—Ç–æ–¥–æ–º `astype()`

In [21]:
df['total_income'] = df['total_income'].astype('int') # –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ astype()
display(df['total_income'].head(10)) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

0    253875
1    112080
2    145885
3    267628
4    158616
5    255763
6    240525
7    135823
8     95856
9    144425
Name: total_income, dtype: int64

–£–±–µ–¥–∏–º—Å—è, —á—Ç–æ –≤ —Ç–∞–±–ª–∏—Ü–µ –Ω–µ –æ—Å—Ç–∞–ª–æ—Å—å –ø—Ä–æ–ø—É—Å–∫–æ–≤. –î–ª—è —ç—Ç–æ–≥–æ –µ—â—ë —Ä–∞–∑ –ø–æ—Å—á–∏—Ç–∞–µ–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21524 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21524 non-null  int64
 1   days_employed     21524 non-null  float64
 2   dob_years         21524 non-null  float64
 3   education         21524 non-null  object
 4   education_id      21524 non-null  int64
 5   family_status     21524 non-null  object
 6   family_status_id  21524 non-null  int64
 7   gender            21524 non-null  object
 8   income_type       21524 non-null  object
 9   debt              21524 non-null  int64
 10  total_income      21524 non-null  int64
 11  purpose           21524 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB

<div class="alert alert-block alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚ö†Ô∏è:</b> –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∏—Å–ø—Ä–∞–≤–ª–µ–Ω—ã –≤–µ—Ä–Ω–æ, –Ω–æ –¥–ª—è –∏—Ö –ø—Ä–æ–≤–µ—Ä–∫–∏ –ª—É—á—à–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–µ—Ç–æ–¥—ã info() –∏–ª–∏ dtypesüòâ</div>

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
–ü–æ–ø—Ä–∞–≤–∏–ª–∞ üòâ
</div>

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v2‚úÖ:</b> üëç </div>

### –®–∞–≥ 2.4. –£–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

–î–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –¥—É–±–ª–∏–∫–∞—Ç—ã –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Ä–µ—à–∏—Ç—å –∫–∞–∫–∏–µ —Å—Ç–æ–ª–±—Ü—ã –º–æ–≥—É—Ç –∏–º–µ–Ω—å –∏—Å–∫–∞–∂–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ –≤–∏–¥–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤. 

–°—Ç–æ–ª–±—Ü—ã:
`children` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –≤ —Å–µ–º—å–µ, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤;
`days_employed` ‚Äî –æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–π —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–Ω—Ç–æ–≤. –£ –Ω–∞—Å –±—ã–ª–∏ –ø—Ä–æ–ø—É—Å–∫–∏ –∏ –º—ã –∑–∞–º–µ–Ω–∏–ª–∏ –∏—Ö –º–µ–¥–∏–∞–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏;
`dob_years` ‚Äî –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–∞ –≤ –≥–æ–¥–∞—Ö, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤;
`education` ‚Äî —É—Ä–æ–≤–µ–Ω—å –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–∞, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤;
`education_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —É—Ä–æ–≤–Ω—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤;
`family_status` ‚Äî —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤;
`family_status_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤;
`gender` ‚Äî –ø–æ–ª –∫–ª–∏–µ–Ω—Ç–∞, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤;
`income_type` ‚Äî —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤. –£ –Ω–∞—Å –±—ã–ª–∏ –ø—Ä–æ–ø—É—Å–∫–∏ –∏ –º—ã –∑–∞–º–µ–Ω–∏–ª–∏ –∏—Ö –º–µ–¥–∏–∞–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏;
`debt` ‚Äî –∏–º–µ–ª –ª–∏ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å –ø–æ –≤–æ–∑–≤—Ä–∞—Ç—É –∫—Ä–µ–¥–∏—Ç–æ–≤, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤;
`total_income` ‚Äî –µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤;
`purpose` ‚Äî —Ü–µ–ª—å –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞, –º–æ–∂–µ—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤–∞—è —É —Ä–∞–∑–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤.

–ú–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥, —á—Ç–æ –ø—Ä–æ–≤–µ—Ä—è—Ç—å –Ω–∞ —è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –Ω–µ –∏–º–µ–µ—Ç —Å–º—ã—Å–ª–∞.

–ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ –ø–æ–∏—Å–∫–∞ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –∫ —Å–ª–µ–¥—É—é—â–∏–º —Å—Ç–æ–ª–±–∞–º: `education`, `family_status`, `income_type`, `purpose`.

–ù–∞—á–Ω–µ–º –ø–æ–∏—Å–∫ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ —Å–æ —Å—Ç–æ–ª–±—Ü–∞ `education`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [23]:
 df['education'].value_counts()

—Å—Ä–µ–¥–Ω–µ–µ                13750
–≤—ã—Å—à–µ–µ                  4718
–°–†–ï–î–ù–ï–ï                  772
–°—Ä–µ–¥–Ω–µ–µ                  711
–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ      667
–í–´–°–®–ï–ï                   274
–í—ã—Å—à–µ–µ                   268
–Ω–∞—á–∞–ª—å–Ω–æ–µ                250
–ù–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ       47
–ù–ï–û–ö–û–ù–ß–ï–ù–ù–û–ï –í–´–°–®–ï–ï       29
–ù–ê–ß–ê–õ–¨–ù–û–ï                 17
–ù–∞—á–∞–ª—å–Ω–æ–µ                 15
—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             4
–£—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             1
–£–ß–ï–ù–ê–Ø –°–¢–ï–ü–ï–ù–¨             1
Name: education, dtype: int64

–í–∏–¥–∏–º, —á—Ç–æ –Ω–∞–∑–≤–∞–Ω–∏—è –æ—Ç–ª–∏—á–∞—é—Ç—Å—è —Ä–µ–≥–∏—Å—Ç—Ä–æ–º –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –±—É–∫–≤. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `str.lower()`. –ò —Å—Ä–∞–∑—É –ø—Ä–æ–≤–µ—Ä–∏–º.

In [24]:
df['education'] = df['education'].str.lower()

In [25]:
df['education'].value_counts()

—Å—Ä–µ–¥–Ω–µ–µ                15233
–≤—ã—Å—à–µ–µ                  5260
–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ      743
–Ω–∞—á–∞–ª—å–Ω–æ–µ                282
—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             6
Name: education, dtype: int64

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±–µ—Ü `family_status`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [26]:
 df['family_status'].value_counts()

–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º          12380
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫          4176
–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º     2813
–≤ —Ä–∞–∑–≤–æ–¥–µ                 1195
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞             960
Name: family_status, dtype: int64

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±–µ—Ü `income_type`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [27]:
df['income_type'].value_counts()

—Å–æ—Ç—Ä—É–¥–Ω–∏–∫          11119
–∫–æ–º–ø–∞–Ω—å–æ–Ω           5084
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä           3856
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π         1459
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å        2
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π            2
–≤ –¥–µ–∫—Ä–µ—Ç–µ              1
—Å—Ç—É–¥–µ–Ω—Ç                1
Name: income_type, dtype: int64

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±–µ—Ü `purpose`. –ü—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ `value_counts()`.

In [28]:
df['purpose'].value_counts()

—Å–≤–∞–¥—å–±–∞                                   797
–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã                     777
—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É                           774
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é                  676
–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏         664
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º                         653
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏                   653
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é     651
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è                             647
–∂–∏–ª—å–µ                                     647
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏                   641
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏    635
–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å                              634
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é           630
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏          626
–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                      623
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                620
–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è                      620
—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é                              612
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                607
–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è              505
–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º              496
–∞–≤—Ç–æ–º–æ–±–∏–ª—å                                495
—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º          489
—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å                           480
–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è        479
–∞–≤—Ç–æ–º–æ–±–∏–ª–∏                                478
–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è                     472
–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                462
–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è                   462
—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º                      455
–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                        453
–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è     447
–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                               447
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è                     443
–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                    436
–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è             426
–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º                     412
Name: purpose, dtype: int64

**–í—ã–≤–æ–¥—ã**

–ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö –æ–±–Ω–∞—Ä—É–∂–∏–ª–∞ —á–µ—Ç—ã—Ä–µ –ø—Ä–æ–±–ª–µ–º—ã:

- –∞–Ω–æ–º–∞–ª–∏–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö,
- –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è,
- –∏–∑–º–µ–Ω–µ–Ω–∏—è —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö,
- –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã.

–ú—ã –∏—Å–ø—Ä–∞–≤–∏–ª–∏ –∞–Ω–æ–º–∞–ª–∏–∏ –≤ —Ç–µ—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –∏—Ö –æ–±–Ω–∞—Ä—É–∂–∏–ª–∏, –∏–∑–±–∞–≤–∏–ª–∏—Å—å –æ—Ç –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤, –∏–∑–º–µ–Ω–∏–ª–∏ —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö, –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∑–∞–ø–æ–ª–Ω–∏–ª–∏ –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏.

<div class="alert alert-block alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚ùå:</b> –ù–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –∏—Å–ø—Ä–∞–≤–ª–µ–Ω—ã, –Ω–æ –Ω–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –≥—Ä—É–±—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã —Å—Ç—Ä–æ–∫. –ö–∞–∫ –≤–∏–¥–Ω–æ –∏–∑ —Å–ª–µ–¥—É—é—â–µ–π —è—á–µ–π–∫–∏, –≤ —Ç–∞–±–ª–∏—Ü–µ –æ–Ω–∏ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç</div>

In [29]:
# –ö–æ–¥ —Ä–µ–≤—å—é–µ—Ä–∞
df.duplicated().sum()

72

–í—ã—è–≤–∏–ª–∏ –¥—É–±–ª–∏–∫–∞—Ç—ã. –ú–µ—Ç–æ–¥–æ–º `drop_duplicates()` —É–¥–∞–ª–∏–º –¥—É–±–ª–∏–∫–∞—Ç—ã —Å –∏–∑–º–µ–Ω–µ–Ω–∏–µ–º –∏–Ω–¥–µ–∫—Å–æ–≤ –∏ —É–¥–∞–ª–µ–Ω–∏–µ–º —Å—Ç–∞—Ä—ã—Ö.

In [30]:
df = df.drop_duplicates().reset_index(drop=True)
display(df.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42.0,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024.803754,36.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623.422610,33.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124.747207,32.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,926.185831,27.0,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,2879.202052,43.0,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,152.779569,50.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,6929.865299,35.0,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,2188.756445,41.0,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏

–ü—Ä–æ–≤–µ—Ä–∏–º –ø–æ–ª—É—á–∏–≤—à–∏–π—Å—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç

In [31]:
df.duplicated().sum()

0

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
–ù–∏–∫–æ–ª–∞–π, —è –Ω–µ –º–æ–≥—É –ø–æ–Ω—è—Ç—å –∫–∞–∫–∏–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –Ω—É–∂–Ω–æ —É–¥–∞–ª–∏—Ç—å. –ü—Ä–∏ –ø—Ä–æ–≤–µ—Ä–∫–µ –Ω–∞ –¥—É–±–ª–∏–∫–∞—Ç—ã –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç ,—á—Ç–æ –≤—Å–µ 72 –¥—É–±–ª–∏–∫–∞—Ç–∞ –Ω–∞—Ö–æ–¥—è—Ç—Å—è –≤ —Å—Ç–æ–±–ª—Ü–µ days_employed, —ç—Ç–æ –∫–∞–∫ —Ä–∞–∑ –∏ –µ—Å—Ç—å –º–µ–¥–∏–∞–Ω–Ω–∞—è –∑–∞–º–µ–Ω–∞. –î–∞–Ω–Ω—ã–µ –≤—Å–µ —Ä–∞–∑–Ω—ã–µ, —ç—Ç–æ —Ä–∞–∑–Ω—ã–µ –∫–ª–∏–µ–Ω—Ç—ã. –ï—Å–ª–∏ —è –∏—Ö —É–¥–∞–ª—é, —Ç–æ –∞–Ω–∞–ª–∏–∑ –±—É–¥–µ—Ç –∏—Å–∫–∞–∂–µ–Ω–Ω—ã–π. –ü–æ—è—Å–Ω–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞.
</div>

<div class="alert alert-block alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v2‚ùå:</b> –ù–µ —Å–æ–≤—Å–µ–º - duplicated() —Ä–∞–±–æ—Ç–∞–µ—Ç —Ç–∞–∫: –æ–Ω –Ω–∞—Ö–æ–¥–∏—Ç –¥–≤–µ (–∏–ª–∏ –±–æ–ª–µ–µ) –¥—É–±–ª–∏—Ä—É—é—â–∏—Ö—Å—è —Å—Ç—Ä–æ–∫, –æ–¥–Ω–æ–π –∏–∑ –Ω–∏—Ö –ø—Ä–∏—Å–≤–∞–∏–≤–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ False (—Ç–∞–∫ –∫–∞–∫ –æ–¥–Ω—É –∏–∑ –¥—É–±–ª–∏—Ä—É—é—â–∏—Ö—Å—è –∑–∞–ø–∏—Å–µ–π –Ω–∞–º –Ω–∞–¥–æ –æ—Å—Ç–∞–≤–∏—Ç—å), –æ—Å—Ç–∞–ª—å–Ω—ã–º –ø—Ä–∏—Å–≤–∞–∏–≤–∞–µ—Ç True - —Ç–∞–∫ –∫–∞–∫ —ç—Ç–æ –ø–æ–≤—Ç–æ—Ä–µ–Ω–∏—è –ø–µ—Ä–≤–æ–π —Å—Ç—Ä–æ–∫–∏. –í —Ç–∞–±–ª–∏—Ü–µ –≤—ã—à–µ —Ç—ã –≤–∏–¥–∏—à—å —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–æ–∫–∏, –∫–æ—Ç–æ—Ä—ã–º –æ–Ω –ø—Ä–∏—Å–≤–æ–∏–ª True, –Ω–æ —É –∫–∞–∂–¥–æ–π –∏–∑ –Ω–∏—Ö –µ—Å—Ç—å –¥–≤–æ–π–Ω–∏–∫ —Å –∑–Ω–∞—á–µ–Ω–∏–µ–º False. –≠—Ç–∏ —Å—Ç—Ä–æ–∫–∏ –≤—Å–µ –∂–µ –ª—É—á—à–µ —É–¥–∞–ª–∏—Ç—å.

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
–ù–∏–∫–æ–ª–∞–π, —Å–ø–∞—Å–∏–±–æ, —è —Ä–∞–∑–æ–±—Ä–∞–ª–∞—Å—å –∫–∞–∫ —Ä–∞–±–æ—Ç–∞–µ—Ç –º–µ—Ç–æ–¥ duplicated()!
–£–±—Ä–∞–ª–∞ –¥—É–±–ª–∏–∫–∞—Ç—ã

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v3‚úÖ:</b> –¢–µ–ø–µ—Ä—å —Å–æ–≥–ª–∞—Å–µ–Ωüëç </div>

### –®–∞–≥ 2.5. –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã—Ö –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤ —Å–ª–æ–≤–∞—Ä–µ–π, –¥–µ–∫–æ–º–ø–æ–∑–∏—Ü–∏—è –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

–°–æ–∑–¥–∞–¥–∏–º –¥–≤–∞ –Ω–æ–≤—ã—Ö –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

–ö–∞–∂–¥–æ–º—É —É–Ω–∏–∫–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é –∏–∑ `family_status` —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç —É–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ `family_status_id`

In [32]:
df_family_status = df[['family_status', 'family_status_id']]
display(df_family_status.head(10)) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

      family_status  family_status_id
0   –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
1   –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
2   –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
3   –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
4  –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫                 1
5  –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫                 1
6   –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
7   –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
8  –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫                 1
9   –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0

–ü—Ä–æ–≤–µ—Ä–∏–º —Å–ª–æ–≤–∞—Ä—å –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

In [33]:
df_family_status.duplicated().sum()

21447

–í—ã—è–≤–∏–ª–∏ –¥—É–±–ª–∏–∫–∞—Ç—ã. –ú–µ—Ç–æ–¥–æ–º `drop_duplicates()` —É–¥–∞–ª–∏–º –¥—É–±–ª–∏–∫–∞—Ç—ã —Å –∏–∑–º–µ–Ω–µ–Ω–∏–µ–º –∏–Ω–¥–µ–∫—Å–æ–≤ –∏ —É–¥–∞–ª–µ–Ω–∏–µ–º —Å—Ç–∞—Ä—ã—Ö.

In [34]:
df_family_status = df_family_status.drop_duplicates().reset_index(drop=True)
display(df_family_status)

           family_status  family_status_id
0        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
1       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫                 1
2         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞                 2
3              –≤ —Ä–∞–∑–≤–æ–¥–µ                 3
4  –ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º                 4

–ö–∞–∂–¥–æ–º—É —É–Ω–∏–∫–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–∏—é –∏–∑ `education` —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç —É–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ `education_id`

In [35]:
df_education = df[['education', 'education_id']]
display(df_education.head(10)) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

  education  education_id
0    –≤—ã—Å—à–µ–µ             0
1   —Å—Ä–µ–¥–Ω–µ–µ             1
2   —Å—Ä–µ–¥–Ω–µ–µ             1
3   —Å—Ä–µ–¥–Ω–µ–µ             1
4   —Å—Ä–µ–¥–Ω–µ–µ             1
5    –≤—ã—Å—à–µ–µ             0
6    –≤—ã—Å—à–µ–µ             0
7   —Å—Ä–µ–¥–Ω–µ–µ             1
8    –≤—ã—Å—à–µ–µ             0
9   —Å—Ä–µ–¥–Ω–µ–µ             1

–ü—Ä–æ–≤–µ—Ä–∏–º —Å–ª–æ–≤–∞—Ä—å –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

In [36]:
df_education.duplicated().sum()

21447

–í—ã—è–≤–∏–ª–∏ –¥—É–±–ª–∏–∫–∞—Ç—ã. –ú–µ—Ç–æ–¥–æ–º `drop_duplicates()` —É–¥–∞–ª–∏–º –¥—É–±–ª–∏–∫–∞—Ç—ã —Å –∏–∑–º–µ–Ω–µ–Ω–∏–µ–º –∏–Ω–¥–µ–∫—Å–æ–≤ –∏ —É–¥–∞–ª–µ–Ω–∏–µ–º —Å—Ç–∞—Ä—ã—Ö.

In [37]:
df_education = df_education.drop_duplicates().reset_index(drop=True)
display(df_education)

             education  education_id
0               –≤—ã—Å—à–µ–µ             0
1              —Å—Ä–µ–¥–Ω–µ–µ             1
2  –Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ             2
3            –Ω–∞—á–∞–ª—å–Ω–æ–µ             3
4       —É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             4

–£–¥–∞–ª–∏–º –∏–∑ –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Å—Ç–æ–ª–±—Ü—ã `education` –∏ `family_status`, –æ—Å—Ç–∞–≤–∏–º —Ç–æ–ª—å–∫–æ –∏—Ö –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã: `education_id` –∏ `family_status_id`.

In [38]:
df_total = df.drop(['education', 'family_status'], axis='columns') # –ø—Ä–∏–º–µ–Ω–∏–º –º–µ—Ç–æ–¥ drop()
display(df_total) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42.0,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024.803754,36.0,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623.422610,33.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124.747207,32.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53.0,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
...,...,...,...,...,...,...,...,...,...,...
21447,1,4529.316663,43.0,1,1,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,224791,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
21448,0,343937.404131,67.0,1,0,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,155999,—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
21449,1,2113.346888,38.0,1,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,89672,–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å
21450,3,3112.481705,38.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,244093,–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
21451,2,1984.507589,40.0,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,82047,–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è

–ü—Ä–æ–≤–µ—Ä–∏–º —Ç–∞–±–ª–∏—Ü—É –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

In [39]:
df_total.duplicated().sum()

0

<div class="alert alert-block alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚ùå:</b> –¶–µ–ª—å —ç—Ç–æ–≥–æ –ø—É–Ω–∫—Ç–∞ - —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å —Ç–∞–±–ª–∏—Ü—ã, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –±—É–¥—É—Ç –ª–µ–∂–∞—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ —Å–≤—è–∑–∫–∏ id —Å –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ —Ç–∏–ø–∞ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∏ —Å–µ–º–µ–π–Ω–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞.

–ß—Ç–æ–±—ã —Å–¥–µ–ª–∞—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Ç–≤–æ–∏—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö-—Å–ª–æ–≤–∞—Ä—è—Ö —É–Ω–∏–∫–∞–ª—å–Ω—ã–º–∏ –Ω—É–∂–Ω–æ —É–¥–∞–ª–∏—Ç—å –∏–∑ –Ω–∏—Ö –¥—É–±–ª–∏–∫–∞—Ç—ã</div>

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
–ó–¥–µ—Å—å —Ä–µ—á—å –∏–¥–µ—Ç –æ –¥—É–±–ª–∏–∫–∞—Ö –≤—ã—à–µ? –ï—Å–ª–∏ –Ω–µ—Ç, —Ç–æ –ø—Ä–æ—à—É –ø–æ—è—Å–Ω–∏, –∞ —Ç–æ —è –Ω–µ –ø–æ–Ω–∏–º–∞—é, —á—Ç–æ –Ω—É–∂–Ω–æ –ø–æ–º–µ–Ω—è—Ç—å.
</div>

<div class="alert alert-block alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v2‚ùå:</b> –†–µ—á—å –≤–æ—Ç –æ —á–µ–º - –Ω–∞—à–µ–π –∑–∞–¥–∞—á–µ–π –±—ã–ª–æ —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å —Ç–∞–±–ª–∏—Ü—ã - —Å–ª–æ–≤–∞—Ä–∏. –í –Ω–∏—Ö –¥–æ–ª–∂–Ω—ã –ª–µ–∂–∞—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ —Å–≤—è–∑–∫–∏ id –∏ –∑–Ω–∞—á–µ–Ω–∏—è. –°–µ–π—á–∞—Å —Å—Ç—Ä–æ–∫–∏ –≤ —Å–ª–æ–≤–∞—Ä—è—Ö –¥—É–±–ª–∏—Ä—É—é—Å—è - —ç—Ç–æ –≤–∏–¥–Ω–æ –∏–∑ —Å–ª–µ–¥—É—é—â–µ–π —è—á–µ–π–∫–∏; –î—É–±–ª–∏–∫–∞—Ç—ã –∏–∑ —Å–ª–æ–≤–∞—Ä–µ–π –Ω–∞–¥–æ —É–¥–∞–ª–∏—Ç—å</div>

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
–î—É–±–ª–∏–∫–∞—Ç—ã –≤ —Å–ª–æ–≤–∞—Ä—è—Ö —É–¥–∞–ª–∏–ª–∞
</div>

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v3‚úÖ:</b> –û—Ç–ª–∏—á–Ω–æüëç

In [40]:
df_education

             education  education_id
0               –≤—ã—Å—à–µ–µ             0
1              —Å—Ä–µ–¥–Ω–µ–µ             1
2  –Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ             2
3            –Ω–∞—á–∞–ª—å–Ω–æ–µ             3
4       —É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             4

### –®–∞–≥ 2.6. –ü–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –¥–µ—Ç–µ–π.

–°–æ–∑–¥–∞–¥–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É, –≥–¥–µ –º–µ—Ç–æ–¥–æ–º `pivot_table()` —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É `children`, –≤–æ–∑—å–º–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `debt`. –ì–¥–µ –≤ —Å—Ç–æ–ª–±—Ü–µ `children` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –æ—Ç 0 –¥–æ 5, –≤ —Å—Ç–æ–ª–±—Ü–µ `0` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫, –≤ —Å—Ç–æ–ª–±—Ü–µ `1` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫.

In [41]:
df_pivot_children = df_total.pivot_table(index=['children'], columns='debt', values='education_id', aggfunc='count')
display(df_pivot_children) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt            0       1
children
0         13026.0  1063.0
1          4410.0   445.0
2          1926.0   202.0
3           303.0    27.0
4            37.0     4.0
5             9.0     NaN

–ú–µ—Ç–æ–¥–æ–º `reset_index()` —É–±–∏—Ä–µ–º –º—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å.

In [42]:
df_pivot_children_reset_index = df_pivot_children.reset_index()
display(df_pivot_children_reset_index)

debt  children        0       1
0            0  13026.0  1063.0
1            1   4410.0   445.0
2            2   1926.0   202.0
3            3    303.0    27.0
4            4     37.0     4.0
5            5      9.0     NaN

–û–±–Ω–∞—Ä—É–∂–∏–ª–∏, —á—Ç–æ –≤ —Å—Ç–æ–±–ª—Ü–µ `1` (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫) –ø–æ—è–≤–∏–ª–æ—Å—å –∑–Ω–∞—á–µ–Ω–∏–µ `NaN`. –ó–∞–º–µ–Ω–∏–º `NaN` –Ω–∞ 0 –º–µ—Ç–æ–¥–æ–º `fillna()`

In [43]:
df_pivot_children_reset_index[1] = df_pivot_children_reset_index[1].fillna(0)

–ü–æ—Å—á–∏—Ç–∞–µ–º –ø—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤, –Ω–µ –≤—ã–ø–ª–∞—Ç–∏—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫. –î–ª—è —ç—Ç–æ–≥–æ —Å–æ–∑–¥–∞–¥–∏–º —Å—Ç–æ–ª–±–µ—Ü `default rate`, –≥–¥–µ —Ä–∞–∑–¥–µ–ª–∏–º –Ω–µ –≤—ã–ø–ª–∞—Ç–∏–≤—à–∏—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–∞ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤.

In [44]:
df_pivot_children_reset_index['default rate'] = (df_pivot_children_reset_index[1]/(df_pivot_children_reset_index[0]+df_pivot_children_reset_index[1]))*100
display(df_pivot_children_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt  children        0       1  default rate
0            0  13026.0  1063.0      7.544893
1            1   4410.0   445.0      9.165808
2            2   1926.0   202.0      9.492481
3            3    303.0    27.0      8.181818
4            4     37.0     4.0      9.756098
5            5      9.0     0.0      0.000000

<div class="alert alert-block alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚ö†Ô∏è:</b> –¢—É—Ç —Å–∫–æ—Ä–µ–µ –Ω–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è, –∞ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
–ü–æ–ø—Ä–∞–≤–∏–ª–∞ –Ω–∞–∑–≤–∞–Ω–∏–µ
</div>

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v2‚úÖ:</b> üëç </div>

### –®–∞–≥ 2.6. –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è.

–°–æ–∑–¥–∞–¥–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É, –≥–¥–µ –º–µ—Ç–æ–¥–æ–º `pivot_table()` —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É `family_status_id`, –≤–æ–∑—å–º–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `debt`. –ì–¥–µ –≤ —Å—Ç–æ–ª–±—Ü–µ `family_status_id` —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤, –≤ —Å—Ç–æ–ª–±—Ü–µ `0` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫, –≤ —Å—Ç–æ–ª–±—Ü–µ `1` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫.

In [45]:
df_pivot_family = df_total.pivot_table(index=['family_status_id'], columns='debt', values='education_id', aggfunc='count')
display(df_pivot_family) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt                  0    1
family_status_id
0                 11408  931
1                  3761  388
2                   896   63
3                  1110   85
4                  2536  274

–ú–µ—Ç–æ–¥–æ–º `reset_index()` —É–±–∏—Ä–µ–º –º—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å.

In [46]:
df_pivot_family_reset_index = df_pivot_family.reset_index()
display(df_pivot_family_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt  family_status_id      0    1
0                    0  11408  931
1                    1   3761  388
2                    2    896   63
3                    3   1110   85
4                    4   2536  274

–ü–æ—Å—á–∏—Ç–∞–µ–º –ø—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤, –Ω–µ –≤—ã–ø–ª–∞—Ç–∏—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫. –î–ª—è —ç—Ç–æ–≥–æ —Å–æ–∑–¥–∞–¥–∏–º —Å—Ç–æ–ª–±–µ—Ü `default rate`, –≥–¥–µ —Ä–∞–∑–¥–µ–ª–∏–º –Ω–µ –≤—ã–ø–ª–∞—Ç–∏–≤—à–∏—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–∞ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤.

In [47]:
df_pivot_family_reset_index['default rate'] = (df_pivot_family_reset_index[1]/(df_pivot_family_reset_index[0]+df_pivot_family_reset_index[1]))*100
display(df_pivot_family_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt  family_status_id      0    1  default rate
0                    0  11408  931      7.545182
1                    1   3761  388      9.351651
2                    2    896   63      6.569343
3                    3   1110   85      7.112971
4                    4   2536  274      9.750890

–î–ª—è –Ω–∞–≥–ª—è–¥–Ω–æ—Å—Ç–∏ –¥–æ–±–∞–≤–∏–º —Å—Ç–æ–ª–±–µ—Ü —Å –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ —Å–µ–º–µ–π–Ω–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞. –î–ª—è —ç—Ç–æ–≥–æ –≤–æ–∑—å–º–µ–º —Å–æ–∑–¥–∞–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `df_family_status` –∏ –º–µ—Ç–æ–¥–æ–º `drop_duplicates()` –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–µ–º —Å—Ç–∞—Ç—É—Å—ã.

In [48]:
df_family_status_drop = df_family_status.drop_duplicates()

–î–æ–±–∞–≤–∏–º –ø–æ–ª—É—á–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É `df_family_status_drop` –∫ —Ç–∞–±–ª–∏—Ü–µ `df_pivot_family_reset_index` –º–µ—Ç–æ–¥–æ–º `merge()`.

In [49]:
df_pivot_family_reset_index_merge = df_pivot_family_reset_index.merge(df_family_status_drop, on='family_status_id', how = 'left')

In [50]:
display(df_pivot_family_reset_index_merge) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

   family_status_id      0    1  default rate          family_status
0                 0  11408  931      7.545182        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º
1                 1   3761  388      9.351651       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫
2                 2    896   63      6.569343         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞
3                 3   1110   85      7.112971              –≤ —Ä–∞–∑–≤–æ–¥–µ
4                 4   2536  274      9.750890  –ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> üëç

### –®–∞–≥ 2.6. –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–æ—Ö–æ–¥–∞.

–î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –∞–Ω–∞–ª–∏–∑–∞ —Å–æ–∑–¥–∞–¥–∏–º –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–æ—Ö–æ–¥–æ–≤:
* 0 ‚Äì 30 000 ‚Äî 'E';
* 30 001 ‚Äì 50 000 ‚Äî 'D';
* 50 001 ‚Äì 200 000 ‚Äî 'C';
* 200 001 ‚Äì 1 000 000 ‚Äî 'B';
* 1 000 001 –∏ –≤—ã—à–µ ‚Äî 'A'.

–°–æ–∑–¥–∞–¥–∏–º —Ñ—É–Ω–∫—Ü–∏—é `income_group` –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –¥–∞–Ω–Ω—ã—Ö –¥–∏–∞–ø–∞–∑–æ–Ω–æ–≤.

In [51]:
def income_group(total_income): 
    if total_income  <= 30000:
        return 'E'
    if total_income >=30001 and total_income <=50000:
        return 'D'
    if total_income >= 50001 and total_income <=200000:
        return 'C'
    if total_income >= 200001 and total_income <=1000000:
        return 'B'
    return 'A'

–°–æ–∑–¥–∞–¥–∏–º —Å—Ç–æ–ª–±–µ—Ü `total_income_category`, –≥–¥–µ –º–µ—Ç–æ–¥–æ–º `apply()` –¥–æ–±–∞–≤–∏–º –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ñ—É–Ω–∫—Ü–∏–∏ `income_group` –∫ —Ç–∞–±–ª–∏—Ü–µ `df_total`.

In [52]:
df_total['total_income_category'] = df_total['total_income'].apply(income_group)
display(df_total.head(10)) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42.0,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,B
1,1,4024.803754,36.0,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,C
2,0,5623.422610,33.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,C
3,3,4124.747207,32.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,B
4,0,340266.072047,53.0,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,C
5,0,926.185831,27.0,0,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,B
6,0,2879.202052,43.0,0,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º,B
7,0,152.779569,50.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,C
8,2,6929.865299,35.0,0,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã,C
9,0,2188.756445,41.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏,C

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> –§—É–Ω–∫—Ü–∏—è –Ω–∞–ø–∏—Å–∞–Ω–∞ –≤–µ—Ä–Ω–æ, –∫—Ä—É—Ç–æ —á—Ç–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –µ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–≤–µ—Ä–µ–Ωüëç

–°–æ–∑–¥–∞–¥–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É, –≥–¥–µ –º–µ—Ç–æ–¥–æ–º `pivot_table()` —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É `total_income_category`, –≤–æ–∑—å–º–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `debt`. –ì–¥–µ –≤ —Å—Ç–æ–ª–±—Ü–µ `total_income_category` –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–æ—Ö–æ–¥–æ–≤ –∫–ª–∏–µ–Ω—Ç–æ–≤, –≤ —Å—Ç–æ–ª–±—Ü–µ `0` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫, –≤ —Å—Ç–æ–ª–±—Ü–µ `1` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫.

In [53]:
df_pivot_total_income = df_total.pivot_table(index=['total_income_category'], columns='debt', values='education_id', aggfunc='count')
display(df_pivot_total_income) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt                       0     1
total_income_category
A                         23     2
B                       4685   356
C                      14654  1360
D                        329    21
E                         20     2

–ú–µ—Ç–æ–¥–æ–º `reset_index()` —É–±–∏—Ä–µ–º –º—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å.

In [54]:
df_pivot_total_income_reset_index = df_pivot_total_income.reset_index()
display(df_pivot_total_income_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt total_income_category      0     1
0                        A     23     2
1                        B   4685   356
2                        C  14654  1360
3                        D    329    21
4                        E     20     2

–ü–æ—Å—á–∏—Ç–∞–µ–º –ø—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤, –Ω–µ –≤—ã–ø–ª–∞—Ç–∏—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫. –î–ª—è —ç—Ç–æ–≥–æ —Å–æ–∑–¥–∞–¥–∏–º —Å—Ç–æ–ª–±–µ—Ü `default rate`, –≥–¥–µ —Ä–∞–∑–¥–µ–ª–∏–º –Ω–µ –≤—ã–ø–ª–∞—Ç–∏–≤—à–∏—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–∞ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤.

In [55]:
df_pivot_total_income_reset_index['default rate'] = (df_pivot_total_income_reset_index[1]/(df_pivot_total_income_reset_index[0]+df_pivot_total_income_reset_index[1]))*100
display(df_pivot_total_income_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt total_income_category      0     1  default rate
0                        A     23     2      8.000000
1                        B   4685   356      7.062091
2                        C  14654  1360      8.492569
3                        D    329    21      6.000000
4                        E     20     2      9.090909

### –®–∞–≥ 2.7. –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è —Ü–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–∞.

–î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –∞–Ω–∞–ª–∏–∑–∞ —Å–æ–∑–¥–∞–¥–∏–º —Å–ª–µ–¥—É—é—â–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏:
* –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,
* –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,
* –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã,
* –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è.

–°–æ–∑–¥–∞–¥–∏–º —Ñ—É–Ω–∫—Ü–∏—é `purpose_group`, –∫–æ—Ç–æ—Ä–∞—è —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ—Ç –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞.

In [56]:
def purpose_group(purpose): 
    if '–∞–≤—Ç' in purpose:
        return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'
    if '–∂–∏–ª—å' in purpose:
        return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é'
    if '–Ω–µ–¥–≤–∏–∂' in purpose:
        return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é'
    if '—Å–≤–∞–¥'in purpose:
        return '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã'
    if '–æ–±—Ä–∞–∑–æ–≤' in purpose:
        return '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'

–°–æ–∑–¥–∞–¥–∏–º —Å—Ç–æ–ª–±–µ—Ü `purpose_category`, –≥–¥–µ –º–µ—Ç–æ–¥–æ–º `apply()` –¥–æ–±–∞–≤–∏–º –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ñ—É–Ω–∫—Ü–∏–∏ `purpose_group` –∫ —Ç–∞–±–ª–∏—Ü–µ `df_total`.

In [57]:
df_total['purpose_category'] = df_total['purpose'].apply(purpose_group)
display(df_total.head(10)) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42.0,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
1,1,4024.803754,36.0,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
2,0,5623.422610,33.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
3,3,4124.747207,32.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,B,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
4,0,340266.072047,53.0,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,C,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
5,0,926.185831,27.0,0,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
6,0,2879.202052,43.0,0,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
7,0,152.779569,50.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,C,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
8,2,6929.865299,35.0,0,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã,C,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,2188.756445,41.0,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> –û—Ç–ª–∏—á–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è, —Ä–µ–∑—É–ª—å—Ç–∞—Ç –µ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ–≤–µ—Ä–µ–Ω, –º–æ–ª–æ–¥–µ—Üüëç

–°–æ–∑–¥–∞–¥–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É, –≥–¥–µ –º–µ—Ç–æ–¥–æ–º `pivot_table()` —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Å—Ç–æ–ª–±—Ü—É `purpose_category`, –≤–æ–∑—å–º–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ `debt`. –ì–¥–µ –≤ —Å—Ç–æ–ª–±—Ü–µ `purpose_category` –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ü–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–∞, –≤ —Å—Ç–æ–ª–±—Ü–µ `0` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫, –≤ —Å—Ç–æ–ª–±—Ü–µ `1` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ –≤–µ—Ä–Ω—É–≤—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫.

In [58]:
df_pivot_purpose = df_total.pivot_table(index=['purpose_category'], columns='debt', values='education_id', aggfunc='count')
display(df_pivot_purpose) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt                          0    1
purpose_category
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º     3903  403
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é  10028  782
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è      3643  370
–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã         2137  186

–ú–µ—Ç–æ–¥–æ–º `reset_index()` —É–±–∏—Ä–µ–º –º—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å.

In [59]:
df_pivot_purpose_reset_index = df_pivot_purpose.reset_index()
display(df_pivot_purpose_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt          purpose_category      0    1
0       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º   3903  403
1     –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é  10028  782
2        –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è   3643  370
3           –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã   2137  186

–ü–æ—Å—á–∏—Ç–∞–µ–º –ø—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤, –Ω–µ –≤—ã–ø–ª–∞—Ç–∏—à–∏—Ö –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫. –î–ª—è —ç—Ç–æ–≥–æ —Å–æ–∑–¥–∞–¥–∏–º —Å—Ç–æ–ª–±–µ—Ü `default rate`, –≥–¥–µ —Ä–∞–∑–¥–µ–ª–∏–º –Ω–µ –≤—ã–ø–ª–∞—Ç–∏–≤—à–∏—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–∞ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤.

In [60]:
df_pivot_purpose_reset_index['default rate'] = (df_pivot_purpose_reset_index[1]/(df_pivot_purpose_reset_index[0]+df_pivot_purpose_reset_index[1]))*100
display(df_pivot_purpose_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt          purpose_category      0    1  default rate
0       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º   3903  403      9.359034
1     –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é  10028  782      7.234043
2        –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è   3643  370      9.220035
3           –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã   2137  186      8.006888

### –û—Ç–≤–µ—Ç—ã –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã.

##### –í–æ–ø—Ä–æ—Å 1:  –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [61]:
display(df_pivot_children_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt  children        0       1  default rate
0            0  13026.0  1063.0      7.544893
1            1   4410.0   445.0      9.165808
2            2   1926.0   202.0      9.492481
3            3    303.0    27.0      8.181818
4            4     37.0     4.0      9.756098
5            5      9.0     0.0      0.000000

–ö–ª–∏–µ–Ω—Ç—ã, —É –∫–æ—Ç–æ—Ä—ã—Ö 5 –¥–µ—Ç–µ–π, –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫. –ù–æ —Ç–∞–∫ –∫–∞–∫ —Ç–∞–∫–∏—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤—Å–µ–≥–æ 9 —á–µ–ª–æ–≤–µ–∫ –∏–∑ 21524 (—á—Ç–æ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 0,04% –∏ —è–≤–ª—è–µ—Ç—Å—è –Ω–µ —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–º –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞), —Ç–æ —ç—Ç–∏ –¥–∞–Ω–Ω—ã–µ –Ω–µ –±—É–¥–µ–º —É—á–∏—Ç—ã–≤–∞—Ç—å –¥–ª—è –∏—Ç–æ–≥–æ–≤–æ–≥–æ –≤—ã–≤–æ–¥–∞. 

–ü–æ–ª—É—á–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ:
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, —É –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –¥–µ—Ç–µ–π —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 7,51%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, —É –∫–æ—Ç–æ—Ä—ã—Ö 1 —Ä–µ–±–µ–Ω–æ–∫ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 9,15%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, —É –∫–æ—Ç–æ—Ä—ã—Ö 2 —Ä–µ–±–µ–Ω–∫–∞ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 9,48%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, —É –∫–æ—Ç–æ—Ä—ã—Ö 3 –¥–µ—Ç–µ–π —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 8,18%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, —É –∫–æ—Ç–æ—Ä—ã—Ö 4 –¥–µ—Ç–µ–π —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 9,76%.

##### –í—ã–≤–æ–¥ 1:

–ö–ª–∏–µ–Ω—Ç—ã —É –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –¥–µ—Ç–µ–π –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫ —á–∞—â–µ, —á–µ–º –∫–ª–∏–µ–Ω—Ç—ã —É –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å –¥–µ—Ç–∏.

##### –í–æ–ø—Ä–æ—Å 2:  –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [62]:
display(df_pivot_family_reset_index_merge) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

   family_status_id      0    1  default rate          family_status
0                 0  11408  931      7.545182        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º
1                 1   3761  388      9.351651       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫
2                 2    896   63      6.569343         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞
3                 3   1110   85      7.112971              –≤ —Ä–∞–∑–≤–æ–¥–µ
4                 4   2536  274      9.750890  –ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º

–ü–æ–ª—É—á–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ:
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, —Å–æ—Å—Ç–æ—è—â–∏—Ö –≤ –±—Ä–∞–∫–µ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 7,52%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, —Å–æ—Å—Ç–æ—è—â–∏—Ö –≤ —Ä–∞–∑–≤–æ–¥–µ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 7,11%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, —Å–æ—Å—Ç–æ—è—â–∏—Ö –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 9,29%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –Ω–µ —Å–æ—Å—Ç–æ—è—â–∏—Ö –≤ –±—Ä–∞–∫–µ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 9,74%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –∏–º–µ—é—â–∏–µ —Å–µ–º–µ–π–Ω—ã–π —Å—Ç–∞—Ç—É—Å –≤–¥–æ–≤–µ—Ü/–≤–¥–æ–≤–∞ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 6,56%.

##### –í—ã–≤–æ–¥ 2:

–ß–∞—â–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤ —Å—Ä–æ–∫ –∫–ª–∏–µ–Ω—Ç—ã, –∏–º–µ—é—â–∏–µ —Å—Ç–∞—Ç—É—Å –≤–¥–æ–≤–µ—Ü/–≤–¥–æ–≤–∞, –∞ —Ç–∞–∫–∂–µ –∫–ª–∏–µ–Ω—Ç—ã —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –±—Ä–∞–∫–µ –∏ —Ä–∞–∑–≤–æ–¥–µ. –ê –∫–ª–∏–µ–Ω—Ç—ã –Ω–µ —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –±—Ä–∞–∫–µ –∏–ª–∏ —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ —Ä–µ–∂–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –≤ –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫.

##### –í–æ–ø—Ä–æ—Å 3:  –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [63]:
display(df_pivot_total_income_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt total_income_category      0     1  default rate
0                        A     23     2      8.000000
1                        B   4685   356      7.062091
2                        C  14654  1360      8.492569
3                        D    329    21      6.000000
4                        E     20     2      9.090909

–ü–æ–ª—É—á–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ:
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –∏–º–µ—é—â–∏–π –¥–æ—Ö–æ–¥ –æ—Ç 30 000 –¥–æ 50 000 —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 6%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –∏–º–µ—é—â–∏–π –¥–æ—Ö–æ–¥ –æ—Ç 200 000 –¥–æ 1 000 000 —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 7,06%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –∏–º–µ—é—â–∏–π –¥–æ—Ö–æ–¥ –æ—Ç 1 000 000 –∏ –≤—ã—à–µ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 8%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –∏–º–µ—é—â–∏–π –¥–æ—Ö–æ–¥ –æ—Ç 50 000 –¥–æ 200 000 —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 8,45%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –∏–º–µ—é—â–∏–π –¥–æ—Ö–æ–¥ –¥–æ 30 000 —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 9,09%.

##### –í—ã–≤–æ–¥ 3:

–ß–∞—â–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤ —Å—Ä–æ–∫ –∫–ª–∏–µ–Ω—Ç—ã, –∏–º–µ—é—â–∏–µ –¥–æ—Ö–æ–¥ –æ—Ç 30 000 –¥–æ 50 000, —Ä–µ–∂–µ –≤—Å–µ–≥–æ –∫–ª–∏–µ–Ω—Ç—ã, –∏–º–µ—é—â–∏–µ –¥–æ—Ö–æ–¥ –¥–æ 30 000.

##### –í–æ–ø—Ä–æ—Å 4: –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

In [64]:
display(df_pivot_purpose_reset_index) # –≤—ã–≤–µ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞

debt          purpose_category      0    1  default rate
0       –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º   3903  403      9.359034
1     –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é  10028  782      7.234043
2        –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è   3643  370      9.220035
3           –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã   2137  186      8.006888

–ü–æ–ª—É—á–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ:
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 7,21%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç –Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 7,92%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª—è–º–∏ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 9,34%;
* –ü—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω–∏–∫–æ–≤, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç –Ω–∞ –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 9,20%.

##### –í—ã–≤–æ–¥ 4:

–ß–∞—â–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤ —Å—Ä–æ–∫ –∫–ª–∏–µ–Ω—Ç—ã, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç—ã –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é –∏ –Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã, —Ä–µ–∂–µ –≤—Å–µ–≥–æ –∫–ª–∏–µ–Ω—Ç—ã, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª—è–º–∏ –∏ –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è.

<div class="alert alert-block alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚ùå:</b> –ü—Ä–æ—à—É –ø–æ–ø—Ä–∞–≤–∏—Ç—å –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ –Ω–∞ —ç—Ç–æ–º —à–∞–≥–µ. –ü–µ—Ä–µ–¥ –æ—Ç–≤–µ—Ç–æ–º –Ω–∞ –∫–∞–∂–¥—ã–π –≤–æ–ø—Ä–æ—Å –ø–æ–∂–∞–ª—É–π—Å—Ç–∞ –¥–æ–±–∞–≤—å –≤—ã–≤–æ–¥ —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã, –∫–æ—Ç–æ—Ä—ã–µ –º—ã —Å—Ç—Ä–æ–∏–ª–∏ —Ä–∞–Ω–µ–µ

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b> –° –æ—Ç–≤–µ—Ç–∞–º–∏ —Å–æ–≥–ª–∞—Å–µ–Ω

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
–î–æ–±–∞–≤–∏–ª–∞ —Ç–∞–±–ª–∏—Ü—ã –∫ –∫–∞–∂–¥–æ–º—É –≤—ã–≤–æ–¥—É
</div>

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v2‚úÖ:</b> üëç </div>

## –û–±—â–∏–π –≤—ã–≤–æ–¥:

–ú—ã –∏—Å–∫–∞–ª–∏ –∑–∞–∫–æ–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç–∏ –∏ —É—Å—Ç–∞–Ω–æ–≤–∏–ª–∏:

1.  –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

–ö–ª–∏–µ–Ω—Ç—ã —É –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –¥–µ—Ç–µ–π –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫ —á–∞—â–µ, —á–µ–º –∫–ª–∏–µ–Ω—Ç—ã —É –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å –¥–µ—Ç–∏.

2.  –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

–ß–∞—â–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤ —Å—Ä–æ–∫ –∫–ª–∏–µ–Ω—Ç—ã, –∏–º–µ—é—â–∏–µ —Å—Ç–∞—Ç—É—Å –≤–¥–æ–≤–µ—Ü/–≤–¥–æ–≤–∞, –∞ —Ç–∞–∫–∂–µ –∫–ª–∏–µ–Ω—Ç—ã —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –±—Ä–∞–∫–µ –∏ —Ä–∞–∑–≤–æ–¥–µ. –ê –∫–ª–∏–µ–Ω—Ç—ã –Ω–µ —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –±—Ä–∞–∫–µ –∏–ª–∏ —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ —Ä–µ–∂–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –≤ –∫—Ä–µ–¥–∏—Ç –≤ —Å—Ä–æ–∫. 

3. –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

–ß–∞—â–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤ —Å—Ä–æ–∫ –∫–ª–∏–µ–Ω—Ç—ã, –∏–º–µ—é—â–∏–µ –¥–æ—Ö–æ–¥ –æ—Ç 30 000 –¥–æ 50 000, —Ä–µ–∂–µ –≤—Å–µ–≥–æ –∫–ª–∏–µ–Ω—Ç—ã, –∏–º–µ—é—â–∏–µ –¥–æ—Ö–æ–¥ –¥–æ 30 000.

4. –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

–ß–∞—â–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤ —Å—Ä–æ–∫ –∫–ª–∏–µ–Ω—Ç—ã, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç—ã –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é –∏ –Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã, —Ä–µ–∂–µ –≤—Å–µ–≥–æ –∫–ª–∏–µ–Ω—Ç—ã, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª—è–º–∏ –∏ –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è.

–í —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—ã–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –∑–∞–∫–æ–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç–∏, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ —É—á–µ—Å—Ç—å –ø—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –º–æ–¥–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞, –∫–æ—Ç–æ—Ä–∞—è –æ—Ü–µ–Ω–∏—Ç —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–≥–æ –∑–∞—ë–º—â–∏–∫–∞ –≤–µ—Ä–Ω—É—Ç—å –∫—Ä–µ–¥–∏—Ç –±–∞–Ω–∫—É.

<div class="alert alert-block alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚ùå:</b> –í –∫–æ–Ω—Ü–µ –ø—Ä–æ–µ–∫—Ç–∞ –ø—Ä–∏–Ω—è—Ç–æ –∫—Ä–∞—Ç–∫–æ –æ–ø–∏—Å—ã–≤–∞—Ç—å –≤—Å–µ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω—ã–µ —à–∞–≥–∏ –∏ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã. –ó–∞—á–µ–º —ç—Ç–æ –Ω—É–∂–Ω–æ - –∫–æ–≥–¥–∞ –ø—Ä–æ–µ–∫—Ç –∑–∞—Ö–æ—á–µ—Ç –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –±—É–¥—É—â–∏–π —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—å, —É –Ω–µ–≥–æ –º–æ–∂–µ—Ç –Ω–µ –±—ã—Ç—å –≤—Ä–µ–º–µ–Ω–∏ –Ω–∞ –ø–æ–¥—Ä–æ–±–Ω—ã–π —Ä–∞–∑–±–æ—Ä –∫–æ–¥–∞. –í–µ—Ä–æ—è—Ç–Ω–µ–µ –≤—Å–µ–≥–æ –æ–Ω –±–µ–≥–ª–æ –ø—Ä–æ—Å–º–æ—Ç—Ä–∏—Ç –∫–æ–¥, –Ω–æ –∑–∞—Ö–æ—á–µ—Ç –∏–∑—É—á–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –≤ –æ–±—â–µ–º –≤—ã–≤–æ–¥–µ. –ü–æ—ç—Ç–æ–º—É –≤—Å–µ –∂–µ —Å–æ–≤–µ—Ç—É—é –¥–æ–ø–æ–ª–Ω–∏—Ç—å –æ–±—â–∏–π –≤—ã–≤–æ–¥)
</div>

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v2‚úÖ:</b> –û—Ç–ª–∏—á–Ω—ã–π –≤—ã–≤–æ–¥, —Ç–µ–ø–µ—Ä—å —Ä–∞–±–æ—Ç–∞ –ª–æ–≥—á–µ—Å–∫–∏ –∑–∞–≤–µ—Ä—à–µ–Ω–∞ –∏ –º—ã –º–æ–∂–µ–º –ø–æ–Ω—è—Ç—å —Å—É—Ç—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—èüî• </div>

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞‚úÖ:</b>–ú–Ω–µ –æ—á–µ–Ω—å –ø–æ–Ω—Ä–∞–≤–∏–ª–∞—Å—å —Ç–≤–æ—è —Ä–∞–±–æ—Ç–∞. –í—Å–µ —Ä–∞—Å—Å—É–∂–¥–µ–Ω–∏—è –≤–µ—Ä–Ω—ã–µ, –æ—á–µ–Ω—å –ª–æ–≥–∏—á–Ω—ã–µ –∏ –æ—Å–º—ã—Å–ª–µ–Ω–Ω—ã–µ. –ù–∏—á–µ–≥–æ –ª–∏—à–Ω–µ–≥–æ, –≤—Å—ë –ø–æ –ø–æ–ª–∫–∞–º. –¢—ã –ø–æ–¥—Ä–æ–±–Ω–æ —Ä–∞–∑–±–∏—Ä–∞–µ—à—å—Å—è –≤ –¥–µ—Ç–∞–ª—è—Ö, –¥–ª—è –±—É–¥—É—â–µ–≥–æ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ —ç—Ç–æ –æ—á–µ–Ω—å –≤–∞–∂–Ω–∞—è —á–µ—Ä—Ç–∞üòä

–ü—Ä–æ–µ–∫—Ç –µ—â–µ –Ω—É–∂–Ω–æ –Ω–µ–º–Ω–æ–≥–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å, –∞ –∏–º–µ–Ω–Ω–æ:
    
- –∏—Å–ø—Ä–∞–≤–∏—Ç—å –±–ª–æ–∫ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
    
- –∏—Å–ø—Ä–∞–≤–∏—Ç—å –±–ª–æ–∫ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü-—Å–ª–æ–≤–∞—Ä–µ–π
    
- –∏—Å–ø—Ä–∞–≤–∏—Ç—å –±–ª–æ–∫ –æ—Ç–≤–µ—Ç–æ–≤ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã
    
- –∏—Å–ø—Ä–∞–≤–∏—Ç—å –æ–±—â–∏–π –≤—ã–≤–æ–¥
    
–û—Å—Ç–∞–ª—å–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –æ—Å—Ç–∞–≤–ª—è—é –Ω–∞ —Ç–≤–æ–µ —É—Å–º–æ—Ç—Ä–µ–Ω–∏–µüòâ

–ñ–¥—É —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–µ —Ä–µ–≤—å—é.
    
[–¢—É—Ç –µ—Å—Ç—å –ø–æ–ª–µ–∑–Ω—ã–µ –ø—Ä–∏–µ–º—ã Markdown](https://paulradzkov.com/2014/markdown_cheatsheet/)

</div>

<div class="alert alert-block alert-info">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> 
–ù–∏–∫–æ–ª–∞–π, —Å–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø–æ–º–æ–≥–∞–µ—à—å –¥–µ–ª–∞—Ç—å –ø—Ä–æ–µ–∫—Ç –ª—É—á—à–µ!
–ò—Å–ø—Ä–∞–≤–∏–ª–∞ –æ–±—â–∏–π –≤—ã–≤–æ–¥.
–ü–æ–º–æ–≥–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ –¥—É–±–ª–∏–∫–∞—Ç–∞—Ö –∏ —è –¥–æ–¥–µ–ª–∞—é –ø—Ä–æ–µ–∫—Ç.    
</div>

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v2‚úÖ:</b>
–¢—ã –æ—Ç–ª–∏—á–Ω–æ —Å–ø—Ä–∞–≤–∏–ª–∞—Å—å —Å –¥–æ—Ä–∞–±–æ—Ç–∫–∞–º–∏, –æ—Å—Ç–∞–ª–æ—Å—å –ø–æ–ø—Ä–∞–≤–∏—Ç—å –¥—É–±–ª–∏–∫–∞—Ç—ã –∏ —Ç–∞–±–ª–∏—Ü—ã —Å–ª–æ–≤–∞—Ä–∏)
    
–° –æ—Å—Ç–∞–ª—å–Ω—ã–º –≤—Å–µ —Ö–æ—Ä–æ—à–æüî•
    
–ñ–¥—É —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–µ —Ä–µ–≤—å—é.
</div>

<div class="alert alert-block alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞_v3‚úÖ:</b> –û—Ç–ª–∏—á–Ω–∞—è —Ä–∞–±–æ—Ç–∞, –ø—Ä–æ–µ–∫—Ç –ø—Ä–∏–Ω–∏–º–∞—é. –ú–æ–≥—É —Å —É–≤–µ—Ä–µ–Ω–Ω–æ—Å—Ç—å—é —Å–∫–∞–∑–∞—Ç—å - —Ç—ã —Ö–æ—Ä–æ—à–æ –≤–ª–∞–¥–µ–µ—à—å –ø—Ä–æ–π–¥–µ–Ω–Ω—ã–º –º–∞—Ç–µ—Ä–∏–∞–ª–æ–º. –ú–Ω–µ –ø–æ–Ω—Ä–∞–≤–∏–ª–∞—Å—å —Ç–≤–æ—è —Ä–µ–∞–∫—Ü–∏—è –Ω–∞ –æ–±—Ä–∞—Ç–Ω—É—é —Å–≤—è–∑—å, –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –¥–∞–∂–µ –∫ –∂–µ–ª—Ç—ã–º –∑–∞–º–µ—á–∞–Ω–∏—è–º. –ñ–µ–ª–∞—é —É–¥–∞—á–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–π —É—á–µ–±–µüî• </div>